* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    padding-right: 40px;
}

.navbar ul li {
    padding: 0 10px;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    margin-right: 80px;
    font-size: 16px;
    cursor: pointer;
}

.first-sec {
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #0C5059 6.05%, #52E0A4 203.33%);
}

.main-box {
    display: flex;
    width: 100%;
    height: 91%;
    padding: 0 15px;
}

.left-container {
    width: 50%;
    height: 100%;
}

.right-container {
    width: 50%;
    height: 100%;
    padding-left: 9%;
}

.firsth {
    color: #C4D133;
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.secondh {
    color: #C4D133;
    margin-top: 10px;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.para1 {
    width: 507.97px;
    height: 148.22px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.content {
    height: 450px;
    width: 600px;
    margin-top: 19%;
    padding-left: 165px;
}

.right-container img {
    margin-top: 18%;
}

#hire-me {
    position: absolute;
    width: 243px;
    height: 50px;
    margin-left: 165px;
    top: 550px;
    background: linear-gradient(360deg, #0C5059 -214.86%, #52E0A4 100%);
    border-radius: 15px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

#download-cv {
    position: absolute;
    width: 243px;
    height: 50px;
    margin-left: 30%;
    font-size: 24px;
    cursor: pointer;
    top: 550px;
    background: linear-gradient(360deg, #0C5059 -158.78%, #52E0A4 185.81%);
    border-radius: 15px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

.second-sec {
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    padding: 30px 15px;
    background: white;
}

.sec-main-container {
    display: flex;
    height: 85%;
    width: 100%;
    flex-direction: row;
}

.sec-head p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #C4D133;
    text-align: center;
    padding-top: 15px;
}

.sec-left-container {
    width: 40%;
    height: 100%;
    /* position: absolute;
left: 16.13%;
right: 53.33%;
top: 21.15%;
bottom: 69.54%;

opacity: 0; */
}

.sec-right-container {
    height: 100%;
    width: 48%;
    padding-left: 9%;
}

.sec-left-container img {
    padding-top: 7%;
    padding-left: 25%;
    width: 631px;
    height: 578px;
}

.sec-right-container p {
    padding-top: 17%;
    font-family: 'Lato', sans-serif;
    font-style: 'normal';
    font-weight: 600px;
    font-size: 24px;
    line-height: 35px;
    /* or 146% */
    color: #000000;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.sec-right-container button {
    width: 243px;
    height: 74px;
    left: 971px;
    top: 1626px;
    background: linear-gradient(360deg, #0C5059 -158.78%, #52E0A4 185.81%);
    border-radius: 15px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    /* identical to box height */
    color: #FFFFFF;
    border: none;
    margin-top: 5%;
}

.third-sec {
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    padding: 30px 15px;
    background: white;
}

.third-container {
    width: 100%;
    height: 46%;
    display: flex;
}

.third-left-container {
    width: 50%;
    height: 100%;
}

.third-left-container img {
    width: 50%;
    height: 153px;
    margin-left: 30%;
    margin-top: 15%;
    align-items: center;
}

.third-right-container {
    width: 50%;
    height: 50%;
}

#work-head {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-top: 17%;
    padding-left: 3%;
}

#work-subhead {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600px;
    font-size: 20px;
    padding-top: 4%;
    padding-left: 3%;
}

.third-right-container ul {
    display: block;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    margin-top: 0;
    padding-left: 10%;
}

.thrid-sec-illustration img {
    padding-left: 0;
    height: 5%;
    width: 23%;
}

.mywork {
    width: 100vw;
    height: 120vh;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #0C5059 6.05%, #52E0A4 203.33%);
}

.mywork-maincontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 43.5%;
    padding: 0 15px;
}

.mywork-leftcontainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mywork-subheader {
    width: 493px;
    height: 76px;
    left: 379px;
    top: 3401px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 104.2%;
    /* or 19px */
    color: #FFFFFF;
}

.mywork-leftcontainer p {
    width: 493px;
    height: 76px;
    left: 379px;
    padding-top: 3px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 104.2%;
    /* or 19px */
    color: #FFFFFF;
}

.mywork-rightcontainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mywork-rightcontainer p {
    width: 493px;
    height: 76px;
    left: 1049px;
    top: 3401px;
    padding-top: 3px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 104.2%;
    /* or 19px */
    color: #FFFFFF;
}

.mywork-secondcontainer {
    display: flex;
    width: 100%;
    height: 43.5%;
    padding: 0 15px;
}

.mywork-leftdowncontainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mywork-leftdowncontainer p {
    width: 493px;
    height: 76px;
    left: 379px;
    top: 3817px;
    padding-top: 3px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 104.2%;
    /* or 19px */
    color: #FFFFFF;
}

.mywork-rightdowncontainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mywork-rightdowncontainer p {
    width: 493px;
    height: 76px;
    padding-top: 3px;
    left: 379px;
    top: 3817px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 104.2%;
    /* or 19px */
    color: #FFFFFF;
}

.reviews-sec {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.reviews-container {
    display: flex;
    height: 85%;
    width: 100%;
}

.review1-box {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 9%;
}

.review2-box {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review1 {
    width: 500px;
    height: 300px;
    background: #10585D;
    border-radius: 15px;
    padding: 25px 15px;
}

.review1 img {
    width: 28%;
    padding-top: 10%;
    padding-left: 3%;
}

.review-text {
    float: right;
    margin-right: 30%;
    margin-top: 8%;
    width: 161px;
    height: 58.65px;
    left: 502px;
    top: 4313px;
}

#review-header {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#review-subheader {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-top: 5px;
    line-height: 19.2px;
    color: #FFFFFF;
}

.ratings {
    width: 136px;
    height: 22px;
}

.ratings img {
    width: 100%;
    padding-left: 0;
}

.outerbox {
    width: 800px;
    height: 520px;
    background: rgba(16, 88, 93, 0.2);
    border-radius: 25px 0 0 25px;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outerbox1 {
    width: 800px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review2 {
    width: 500px;
    height: 300px;
    background: #10585D;
    border-radius: 15px;
    margin-right: 10%;
    padding: 25px 15px;
}

.review2 img {
    width: 28%;
    padding-top: 10%;
    padding-left: 3%;
}

.ratings2 {
    width: 136px;
    height: 22px;
}

.ratings2 img {
    width: 100%;
    padding-left: 0;
}

.review {
    width: 310px;
    height: 99.6px;
    margin-top: 30px;
}

.review p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-right: 35px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.carousel {
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-1 {
    width: 80px;
    height: 0px;
    border: 2px solid #C4D133;
    cursor: pointer;
}

.carousel-2 {
    width: 80px;
    height: 0px;
    border: 2px solid #000000;
    margin-left: 120px;
    cursor: pointer;
}

.carousel-3 {
    width: 80px;
    height: 0px;
    border: 2px solid #000000;
    margin-left: 120px;
    cursor: pointer;
}

.footer {
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #0C5059 6.05%, #52E0A4 203.33%);
    display: flex;
}

.footer-right-container {
    width: 58%;
    height: 100%;
}

.footer-header {
    width: 633px;
    height: 136px;
    margin-left: 200px;
    margin-top: 60px;
}

.footer-header p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #C4D133;
}

.footer-header2 {
    width: 232px;
    height: 49px;
    margin-top: 60px;
    margin-left: 10%;
}

.footer-header2 p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* or 38px */
    color: #C4D133;
}

.contact-me-form {
    width: 513px;
    height: 50%;
    display: flex;
    margin-left: 200px;
}

input[type=text] {
    width: 116%;
    height: 80px;
    margin-top: 6%;
    background: #FFFFFF;
    border-radius: 15px;
    border: none;
}

input[type=message] {
    width: 116%;
    height: 150px;
    margin-top: 6%;
    background: #FFFFFF;
    border-radius: 15px;
    border: none;
}

[type=text]::placeholder {
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #E5E5E5;
}

[type=message]::placeholder {
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #E5E5E5;
}

.contact-me-form button {
    width: 243px;
    height: 74px;
    margin-left: 29%;
    margin-top: 70px;
    background: #FFFFFF;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #2C927C;
}

.divider {
    border: 2px solid white;
    height: 85%;
    margin-top: 5%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    height: 22%;
    width: 27%;
    margin-top: 6%;
    margin-left: 10%;
}

.contact-info img {
    margin: 20px 0;
}

.contact-icon {
    display: flex;
}

.contact-icon span {
    padding-left: 25px;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.contact-info-header2 {
    width: 263px;
    height: 49px;
    left: 1153px;
    margin-top: 38%;
    margin-left: 10%;
}

.contact-info-header2 p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 104.2%;
    /* or 38px */
    color: #C4D133;
}

.social-icons1 {
    position: absolute;
    height: 33px;
    width: 33px;
    margin-left: 2%;
    top: 4618px;
    
}

.social-icons2 {
    position: absolute;
    height: 33px;
    width: 33px;
    margin-left: 6%;
    top: 4624px;
    
}

.social-icons3 {
    position: absolute;
    height: 33px;
    width: 33px;
    margin-left: 10%;
    top: 4624px;
    
}

